$dark-blue: hsl(233, 47%, 7%);
$desat-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);

$stats-white: hsla(0, 0%, 100%, 0.6);
$para-white: hsla(0, 0%, 100%, 0.75);

$rad: 8px;

@mixin thick-text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: white;

    margin: 0;
}

/* Units: rem */

* {
    box-sizing: border-box;
}

body {
    background-color: $dark-blue;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 78%;
    //max-height: 446px;
    aspect-ratio: 2.5;
    background-color: $desat-blue;

    margin: auto;
    border-radius: $rad;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

picture {
    position: relative;
    background: $soft-violet;
    height: 100%;
    border-radius: 0 $rad $rad 0;
    aspect-ratio: 540/446;

    source, img {
        mix-blend-mode: multiply;
        height: 100%;
        width: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;

        background-color: $soft-violet;
        opacity: 0.25;
        border-radius: 0 $rad $rad 0;
    }
}

#main-card {
    //padding: min(6%, 4rem) min(10%, 8rem) min(5%, 4rem) min(7%, 5rem);
    height: 71%;
    margin-left: 5vw;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: $rad;
    
    /* Format of shorthands: top right bottom left
       OR top right-left bottom
       OR top-bottom right-left
       OR all
    */
}

#title {
    font-size: 2.6vw;

    @include thick-text();

    span {
        color: $soft-violet;
    }
}

#description {
    //margin-top: 2rem;
    color: $para-white;
    max-width: 350px;
    
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: left;

    margin-top: 3vh;
    margin-bottom: auto;

    line-height: 1.55rem;
}

#stats-container {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 350px;
    //margin-top: 6rem;

    .stats-word {
        font-family: "Lexend Deca", sans-serif;
        color: $stats-white;
        margin: 0;
        font-size: 85%;
    
        margin-top: 0.4rem;
    }
    
    .stats-header {
        color: white;
        margin: 0;
        font-size: 1.7vw;
    
        @include thick-text();
    }
}

#attribution {
    color: $para-white;
    position: absolute;
    bottom: 0;
}

@media only screen and (min-width: 1500px) {

}

@media only screen and (max-width: 1200px){
    #main-card {
        height: 85%;
        width: 40%;
    }

    #title {
        margin-bottom: 0.1vh;
        //font-size: 3vw;
    }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
    @mixin paragraphs {
        font-size: 1.6vw;
        line-height: 150%;
    }

    #title {
        margin-bottom: 0.1vh;
    }

    #description {
        @include paragraphs();
    }

    .stats-word {
        @include paragraphs();
    }
}

@media only screen and (max-width: 500px) {
    #title, #description, h2, p {
        text-align: center;
    }

    main {
        height: 80vh;
        width: 90vw;
        aspect-ratio: unset;
        max-height: max-content;

        flex-direction: column;
    }

    #main-card {
        width: 90%;
        margin: 0;
    }

    picture {
        width: 100%;
        aspect-ratio: 654/480;
        height: unset;
        border-radius: $rad $rad 0 0;

        &::after {
            border-radius: $rad $rad 0 0;
        }
    }
}