* {
  box-sizing: border-box;
}

body {
  background-color: #090b1a;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  height: fit-content;
  margin: auto;
}

picture {
  max-width: fit-content;
}

#main-card {
  background-color: #1b1938;
}

#main-card h1 {
  color: white;
}

#main-card p {
  color: rgba(255, 255, 255, 0.75);
}

.stats span {
  color: white;
}

.stats p {
  color: rgba(255, 255, 255, 0.6);
}

#attribution {
  color: rgba(255, 255, 255, 0.75);
}
