/* Units: rem */
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(233deg, 47%, 7%);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 78%;
  aspect-ratio: 2.5;
  background-color: hsl(244deg, 38%, 16%);
  margin: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

picture {
  position: relative;
  background: hsl(277deg, 64%, 61%);
  height: 100%;
  border-radius: 0 8px 8px 0;
  aspect-ratio: 540/446;
}
picture source, picture img {
  mix-blend-mode: multiply;
  height: 100%;
  width: 100%;
}
picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(277deg, 64%, 61%);
  opacity: 0.25;
  border-radius: 0 8px 8px 0;
}

#main-card {
  height: 71%;
  margin-left: 5vw;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  /* Format of shorthands: top right bottom left
     OR top right-left bottom
     OR top-bottom right-left
     OR all
  */
}

#title {
  font-size: 2.6vw;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
}
#title span {
  color: hsl(277deg, 64%, 61%);
}

#description {
  color: hsla(0deg, 0%, 100%, 0.75);
  max-width: 350px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  margin-top: 3vh;
  margin-bottom: auto;
  line-height: 1.55rem;
}

#stats-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 350px;
}
#stats-container .stats-word {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0deg, 0%, 100%, 0.6);
  margin: 0;
  font-size: 85%;
  margin-top: 0.4rem;
}
#stats-container .stats-header {
  color: white;
  margin: 0;
  font-size: 1.7vw;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
}

#attribution {
  color: hsla(0deg, 0%, 100%, 0.75);
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1200px) {
  #main-card {
    height: 85%;
    width: 40%;
  }
  #title {
    margin-bottom: 0.1vh;
  }
}
@media only screen and (max-width: 900px) and (min-width: 500px) {
  #title {
    margin-bottom: 0.1vh;
  }
  #description {
    font-size: 1.6vw;
    line-height: 150%;
  }
  .stats-word {
    font-size: 1.6vw;
    line-height: 150%;
  }
}
@media only screen and (max-width: 500px) {
  #title, #description, h2, p {
    text-align: center;
  }
  main {
    height: 80vh;
    width: 90vw;
    aspect-ratio: unset;
    max-height: max-content;
    flex-direction: column;
  }
  #main-card {
    width: 90%;
    margin: 0;
  }
  picture {
    width: 100%;
    aspect-ratio: 654/480;
    height: unset;
    border-radius: 8px 8px 0 0;
  }
  picture::after {
    border-radius: 8px 8px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
